<%- include('../admin-layout/header.ejs'); %>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

  <h2>User Edit</h2>

  <form method="POST" action="/edit/user/<%= user.id %>" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" aria-describedby="emailHelp" value="<%= user.username %>">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" aria-describedby="emailHelp"
      value="<%= user.email %>">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" value="<%= user.password %>">
    </div>
    <div class="mb-3">
      <img src="/avatars/<%= user.profilePicture %>" width="200px" height="200px">
      <input type="file" name="profileEdit"  class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
      
      </main>
        <%- include('../admin-layout/footer.ejs'); %>